body {
    background-image: linear-gradient(
        180deg,
        #ccffff 5%,
        #65f0c5 20%,
        #519d9f 50%,
        #006666 80%
    );
    margin: 0;
    min-height: 100vh;
    width: 100%;
    }

    main > div {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    } 

    main > div section img {
        height: 400px;
        margin: 100px 8px 15px;
        width: 300px;
    }
    
    #divbotao {
        height: 20px;
        padding: 0px 0px 50px;
    }
    
    #botao {
        background-color: #2F4F4F;
        border: flex;
        border-radius: 15px;
        color: white;        
        font-family: EuclidBold;
        font-size: 17px;
        font-weight: 100px;
        letter-spacing: -0.6px;
        line-height: 20px;
        padding: 5px 10px;
    }

    .lista {
        font-weight: bold;
        list-style-type: none;
        padding: 0px;
        text-align: center;
        width: 100%;
        
    }
